<div class="share-buttons" style="margin-top: 1rem;">
  <a
    style="background-color: #1877f2; padding: 0.3rem 0.5rem; color: white; text-decoration: none; border-radius: 3px;"
    target="_blank"
    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fcoronastatus.no%2F&amp;src=sdkpreparse"
    >Share on Facebook</a
  >
</div>
